body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

header {
    padding: 10px;
    color: #333;
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
    padding-left: 20px;
    background-color: #fff;
}

nav {
    background-color: #007bff;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

h1 {
    color: #007bff;
    text-align: center;
    margin-top: 20px;
}

p {
    text-align: center;
    font-size: 1.1em;
    margin: 10px 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}

.news-section {
    text-align: center;
    margin-top: 30px;
}

.news-section h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 10px;
}

.news-section p {
    font-size: 1.2em;
    color: #666;
}

.news-item {
    margin: 20px auto;
    max-width: 600px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    text-align: left;
}

.news-item img {
    width: 100%;
    border-radius: 5px;
}

.news-item h3 {
    font-size: 1.5em;
    color: #555;
    margin: 15px 0;
}

.news-item a {
    color: #d9534f;
    text-decoration: none;
    font-weight: bold;
}

.news-item a:hover {
    text-decoration: underline;
}